$text-primary: #ffffff;
$text-secondary: #e6e6e6;
$text-disabled: #969696;

$background-primary: #1f1f22;
$background-primary-transparent: #1f1f22cc;

$background-secondary: #1c1c1f;
$background-secondary-transparent: #1c1c1f33;

$background-tertiary: #2f2f32;
$background-tertiary-transparent: #2f2f32cc;

$button-primary: #1f1f2200;
$button-primary-selected: #64646a26;

$button-accent: #ff176c;
$button-accent-selected: #ff176c;

$accent: #ff176c;
$accent-hover: #ff49a4;

$divider: #171717;
$divider-mid: #363636;
$divider-light: #ffffff;

$input-background: #111114;
