$text-primary: #FFFFFF;
$text-secondary: #e6e6e6;

$background-primary: #1F1F22;
$background-secondary: #1C1C1F;

$button-primary: #1f1f2200;
$button-primary-selected: #64646a26;

$button-accent: #ff176c;
$button-accent-selected: #ff176c;

$accent: #ff176c;

$divider: #171717;

// Media Query Sizes
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1440px;